.navBar{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: top 0.7s;
    background-color: #000000b0;
}

.navBar.hide {
    top: -100px; /* Cache la navbar */
  }
  
.navBar.show {
top: 0; /* Affiche la navbar */
}

.header {
    position: relative;
    height: 80px;
    /* background-color: #00000063; */
    width: 100%;
    /* padding: 20px 20px; */
    color: #f6f6f9;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1355px;
    margin: 0 auto; 
  }
  .header h1 {
    display: inline-block;
    position: relative;
    z-index: 20;
    padding: 0 10px;
  }
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f6f6f9;
  }
  .ul-nav {
    position: relative;
    display: flex;
  }

  .ul-nav a {
    text-decoration: none;
    color: #f6f6f9;
  }
  .li-nav {
    position: relative;
    font-weight: 500;
    list-style: none;
    color: #f6f6f9;
    transition: 0.3s;
    margin: 0 10px;
    padding: 4px 2px;
    text-align: center;
  }
  .li-nav::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #01be96;
    bottom: -3px;
  }
  .li-nav:hover::before {
    width: 100%;
    transition: 0.4s;
  }
  .li-nav:hover {
    color: #01be96;
  }

  .container-bnt-menu {
    display: none;
  }

  .menu-drop {
    display: none;
  }


  @media (max-width: 720px) {

    .header {
      display: flex;
      height: 60px;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      top: 0;
      left: 0;
      z-index: 100;

    }
    h1 {
      display: inline-block;
    }
   
    .nav {
      display: none;
    }

  }